* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins";
}
.main-div {
  width: 100vw;
  /* height: 100vh; */
  background: linear-gradient(#a762ff, #0091de);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* background: url("https://media.tenor.com/aJDTH7cXzscAAAAC/kirby-yusei.gif" ); */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  opacity: 0.8;
}
.main-div h1 {
  font-size: 2rem;
  color: white;
}
#loadingimg {
  width: 100px;
  height: 100px;
}
.card {
  width: 20rem;
  height: 25rem;
  background: linear-gradient(218deg, #6700fc, #ffc100);
  border: none;
  border-radius: 5px;
  box-shadow: 10px -10px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
}
.inputBox {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  gap: 10px;
}
.inputBox input {
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 20px;
  width: 70%;
}
.btn {
  padding: 5px;
  border-radius: 8px;
  width: 5rem;
  height: 3rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #2a9d8f;
  transition: all 0.3s;
  border: none;
}
.btn:hover {
  background-color: #264653;
  color: white;
  border: none;
}
#errormsg {
  color: red;
  font-size: 1.5rem;
}
.loadingImg {
  width: 100px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info h2 {
  font-size: 2rem;
  font-weight: 500;
}
.info p {
  font-size: 1.2rem;
  font-weight: 300;
}
.tepm {
  font-size: 1.3rem;
  color: black;
}
